# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so
*.dll
*.dylib

# PyCharm project files
.idea/

# Vim / Notepad++ temp files
*~

# Coverage output
.coverage

# Documentation build folders.
docs/_*
docs/src/*
target/*
/venv/
/run_pycharm.bat
/.nox/
/build/
/coverage.xml
/.zip/
run-ide.bat

# Poetry
/.venv/
dist/

# Python cache
*.pyc
*.pyo
*.pyd
.Python
